<div align=center>
  <h1>
  Proyecto {{ title }}
  </h1>
  <div>
    <input type="number" #numero1 value=0><br>
    <input type="number" #numero2 value=0><br>
    <button (click)="sumar(numero1.value, numero2.value)">Sumar</button>
    <p>{{numero1.value}} + {{numero2.value}} = {{suma}}</p>
  </div>
  <div>
    <input type="number" [(ngModel)]=numero3 value=0><br>
    <input type="number" [(ngModel)]=numero4 value=0><br>
    <button (click)="multiplicar()">Multiplicar</button>
    <p>{{numero3}} + {{numero4}} = {{multiplicacion}}</p>
  </div>
  <p>Resultados anteriores:<br></p>
  <ng-template *ngFor="let res of resultados">
      <p>{{res}}</p>
  </ng-template>
</div>